In [ ]:
pip install kafka-python
pip install pandas

In [3]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [7]:
producer = KafkaProducer(bootstrap_servers = [':9092'], # Ip needed
                         value_serializer = lambda x:
                         dumps(x).encode('utf-8'))

In [13]:
producer.send('demo_test',value = "{'name':'Sevuga'}")

In [ ]:
# Extracted using url

import requests
import pandas as pd

# Define the API URL
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo'

# Make the GET request
response = requests.get(url)

# Check if the response is successful
if response.status_code == 200:
    data = response.json()
    
    # Extract the time series data
    if 'Time Series (5min)' in data:
        time_series = data['Time Series (5min)']
        
        # Convert the time series data into a DataFrame
        df = pd.DataFrame.from_dict(time_series, orient='index')
        
        # Convert columns to numeric values
        df = df.apply(pd.to_numeric)
        
        # Convert the index to datetime format
        df.index = pd.to_datetime(df.index)

        df.index.name = 'Timestamp'

        # Add custom column names
        df.columns = ['Open Price', 'High Price', 'Low Price', 'Close Price', 'Volume']
        
        # Display the first few rows of the data
        print(df.head())
        
        # Optionally, save the data to a CSV file
        df.to_csv('IBM_5min_intraday_data.csv')
    else:
        print("Error: Time Series data not found in the response")
else:
    print(f"Error: Unable to fetch data (HTTP status code {response.status_code})")

In [ ]:
df.sample(1).to_dict(orient="records")

In [4]:
#Extracted using csv file
df = pd.read_csv("monthly_IBM.CSV")

In [5]:
df.head()

    timestamp    open    high      low   close     volume
0  2024-11-20  207.77  216.70  204.070  214.60   49449236
1  2024-10-31  220.63  237.37  203.510  206.72  105624376
2  2024-09-30  201.91  224.15  199.335  221.08   83415811
3  2024-08-30  192.81  202.17  181.810  202.13   65453729
4  2024-07-31  173.45  196.26  173.380  192.14   81258646

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient = "records")[0]
    producer.send('demo_test',value=dict_stock)